body { margin: 0; padding: 0; }
       


.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }

#map {  width: 100%;    
     min-height: 400px;}

.ubicacion-c{
  position: absolute;

  left: 15px;
  margin: 0;
  top:20px;
  padding: 5px 10px;

}

@media screen 
and (device-width: 375px) 

  {

    .ubicacion-c{
      position: absolute;
    
      left: 15px;
      margin: 0;
      top:80px;
      padding: 5px 10px;
    
    }
    
}
     .coordinates {
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        position: absolute;
        bottom: 40px;
        left: 10px;
        padding: 5px 10px;
        margin: 0;
        font-size: 11px;
        line-height: 18px;
        border-radius: 3px;
        display: none;
        }